.schedulebox{
    background-color: #fff;
    border-radius: 10px;
}
.paybook{
  width:820px;
  height:920px;
  padding-left:60px;
 
}
.aligmrnt{
  line-height:1.9rem;
}
.tickcorrect{
  margin-top: 20px !important;
}
button.timebtn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #10055A;
    background-color: #F4F8FF;
}
button.timebtn:hover{
    
    color:  #F4F8FF;
    background-color: #2650D8;
}
i.fas.fa-check-circle {
    padding: 10px;
    font-size: 25px;
    color:green;
    float:right;
}
i.fas.fa-stopwatch.stop1{
    position: absolute;
  top: calc(42% - 90px);
  left: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #FFF;
  border-radius: 50%;
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #FFFFFF;
}
i.fas.fa-map-marker-alt.location1{
    position: absolute;
  top: calc(96% - 35px);
  left: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid #FFF;
  border-radius: 50%;
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #FFFFFF;

}
i.far.fa-credit-card.card1{
    position: absolute;
    top: calc(112% - 35px);
    left: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FFFFFF;
    
}
/*PEOCED*/
.payment_process{
  height: 589px;
  padding: 0px;
  margin:0px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow: scroll; 
}

.payment_process::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/*SCEDULE*/
.schedule_cont{
  height: 589px;
  padding: 0px;
  margin:0px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow: scroll; 
}

.schedule_cont::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

  .flex2{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
   
  }
  .btn22{
    width:101px;
    height:48px;
    border-radius: 20px !important;
    margin:10px;
    border:none;
    background-color:#F4F8FF
    
  }
  .btn22:hover{
    background-color:#2650D8;
    color:#fff;
  }
.poppins22M{
  display: flex;
 /* justify-content: space-around;*/
  color:#2650D8 !important;
  margin-top: 15px;
  
}
.poppins22AD {
  color:#2650D8 !important;
  margin-top: 15px;
}
  .btn22:focus{
    background-color:#2650D8;
    color:#fff;
  }

.react-calendar { 
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
  border:none !important;
 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   }
   .react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #2650D8;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #2650D8;
    color: #2650D8;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #2650D8;
   }
   .react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #2650D8;
   }
   .react-calendar__tile--range {
    background: #2650D8;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   }