
@media only screen and (max-width: 390px) {
.main_account_head{
    margin-top:-360px !important;
    background-color: #2650d8;
    background-image: linear-gradient(0deg, #2650d8 0%, #2674e0 24%, #26a4eb 49%, #26ccf4 75%, #26dff9 100%);
    
}
.user_profile img{
   width:20px
}


.add_Toping {
    margin-top: -270px;
    width: 390px !important;
}
.walletgetdata{
    margin-top:-300px;
}

.main_account_head_1{
  
    height:224px;
    padding-top: 50px;
    background-color: #7437ee;
    background-image: linear-gradient(0deg, #7437ee 0%, #6d57eb 19%, #6771e9 39%, #5f96e6 60%, #59b4e4 80%, #52d4e1 100%);
    
}
}